@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:wght@400;700&display=swap');

h2 { 
    font-family: 'Bungee Spice', cursive;
    font-size: 2.5rem;
}

p {
    font-family: 'Bungee Spice', cursive;
    font-family: 'Poppins', sans-serif;
    color:maroon;
}

ul {
    font-family: 'Bungee Spice', cursive;
    font-family: 'Poppins', sans-serif;
    color:maroon;
}

:root  { 
    background-color:bisque;
}

.corgi__title {
    font-family: 'Bungee Spice', cursive;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}

.loving {
    font-family: 'Bungee Spice', cursive;
    font-family: 'Poppins', sans-serif;
    color:maroon;
}

.corgi__button {
    color:maroon;
    background-color:sandybrown;
}

.vaccination {
    color:maroon;
    background-color:sandybrown;
}

.placeholder_corgi {
    background-color:bisque;
}

.label__corgi {
    background-color:bisque;
}

.label__corgi {
    background-color:sandybrown;
}

.countdown_container {
    margin: 0;
    padding: 0;
    font-family: 'Bungee Spice', cursive;
    font-size: 1rem;

}

.opening {
    font-weight: bold;
    font-size: 1.5rem;
}

.countdown_container {
    max-width: 720px;
    text-align:inherit;
}

.countdown {
    margin: 30px 40px;
    display: flex;
    justify-content: space-between;
}

